body {
    background-color: #9bd0b7;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 500px;
    height: auto;
}

h1,
h2,
h3 {
    color: #ff4e62;
    font-weight: 900;
}

h1 {
    text-align: center;
}

#receitas {
    background-color: #badfda;
}

.ingredientes {
    background-color: #f8df81;
}

.passos {
    background-color: #f6b4bf;
}

p {
    background-color: #d5b6d5;
}

a {
    font-weight: 800;
    color: #6b4b62;
    font-size: 24px;
}

.voltar_menu {
    background-color: #b28dff;
}

li,
p {
    font-size: 18px;
    font-weight: 550;
}